/* CSS reset/normalize plus HTML element styling. */
/* COLORS */

.lightblue-overlay {
  background: linear-gradient(to top, #00AEEF, #00AEEF);
}
.lightblue {
  background-color :#00AEEF;
}
.darkenblue {
  color :#00A1ED;
}
.g1 {
  color:#707070;
}
.g3 {
  color:#A8A6A6;
}
.g4 {
  color:#535353;
}
.g5 {
  background-color:#3E3E3E;
}
.g6 {
  color:#FAFAFA;
}
.g7 {
  color:#FCFAFA;
}
.g8 {
  color:#696767;
}

/* BACKGROUND */
.specialbg {

}
